@import "tailwindcss"

/* echo "# Techwave-ProgrammingHero-Assignment_02" >> README.md
git init */

/* 
git add .
git commit -m "Second commit"
git branch -M main
git remote add origin https://github.com/MrDuck04/Techwave-ProgrammingHero-Assignment_02.git
git push -u origin main */