.Apps1data{
    font-size: 40px;
    font-weight: 900;
    color: #00FF88;
}
.Apps3Card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 24px;
    padding: 24px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 24px;
}
.Apps3Card h1{
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
}
.Apps3Card p{
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: none;
}

.Apps4Card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    
    
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 16px;
}
.Apps4Card-content{
    gap: 8px;
    padding: 16px;
}

.Apps4Card-content h3{
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}
.Apps4Card-content p{
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: none;
}
.Apps4Card-time{
    display: flex;
    align-items: center;
    gap:6px;  
     
}
.Apps4Card-time span{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #00FF88;
}

