*{
    padding : 0;
    margin : 0;
    box-sizing:border-box;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    /* color: white; */
}

.hero-container{
    background: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding : 20px 40px;

    text-align: center;

}
.App1-container{
    padding:40px 20px;
}

.Apps2-container{
    padding: 40px 20px;
}
.secondary-btn{
    padding:12px 20px;
}
.primary-btn{
    padding:12px 20px;
}
.Apps1data{
    font-size: 40px;
    font-weight: 900;
    color: #00FF88;
}
.apps2Card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 24px;
    padding: 24px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 24px;
    width: 100%;
}
.apps2Card h1{
    font-size: 22px;
    font-weight: 700;
}
.apps2Card p{
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;
}
.Apps3{
    /* background-color: red; */
    padding: 40px 20px;
}
.featured-episodes{
    /* background-color: #00FF88; */
}
.Apps3Card{
    
    text-align: left;
    
    width: 100%;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 16px;

    
}
.Apps3Card-content{
    gap: 8px;
    padding: 16px;
    
}

.Apps3Card-content h3{
    font-size: 20px;
    font-weight: 700;
}
.Apps3Card-content p{
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;
}
.Apps3Card-time{
    display: flex;
    align-items: center;
    gap:6px;  
     
}
.Apps3Card-time span{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #00FF88;
}

.host-bonus-content{
    background-color: rgba(53, 17, 101, 0.4);
}

.social-icons{
    width:  40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-width: 1px;
    border-radius: 100000px;
    border-color: #533C72;
}
.social-icons img{
    width: 50%;
    height: 50%;
}

footer{
    background: url(./assets/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding : 20px 40px;
    color:white;
}

.partner-logo-content{
    display: flex;
    width: 100%;
}


.partner-logo-container-sub{
    display: flex;
    
    justify-content: center;
    align-items: center;

    gap:16px;
}
